.product-gallery {
    display: grid;
    gap: 1.5rem;
    margin-top: 4rem;
  
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "img1 img3"
        "img2 img3";
    }
  
    &__item:nth-child(1) {
      @media (min-width: 768px) {
        grid-area: img1;
      }
    }
  
    &__item:nth-child(2) {
      @media (min-width: 768px) {
        grid-area: img2;
      }
    }
  
    &__item:nth-child(3) {
      @media (min-width: 768px) {
        grid-area: img3;
      }
    }
  
    &__image {
      width: 100%;
      border-radius: 0.5rem;
      object-fit: cover;
    }
  }